[Interface]
PrivateKey = {{ client_key_val }} 
ListenPort = {{ eveng_wg_client_port }}
Address = {{ eveng_wg_client_ifaddr_v4 }}

[Peer]
PublicKey = {{ server_pubkey_val }}
AllowedIPs = {{ eveng_mgmt_netaddr_v4 }}
Endpoint = {{ eveng_wg_server_endpoint }}
