[Interface]
PrivateKey = {{ server_key_val }} 
ListenPort = {{ eveng_wg_server_port }}
Address = {{ eveng_wg_server_ifaddr_v4 }}

[Peer]
PublicKey = {{ client_pubkey_val }}
AllowedIPs = {{ eveng_wg_client_ifaddr_v4 }}
